@charset "utf-8";


/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Author: Juan Benavides
   Date:   7-18-24
   Filename: style.css
*/


/* Style Body and HTML */
html { background-color: rgb(10, 49, 97); 
		font-family: Verdana, Geneva, Arial, sans-serif;}

body { color: #FFFFFF; 
		margin-left: auto; 
		margin-right: auto;
		max-width: 960px; 
		min-width: 320px; 
		width: 95%;}


/* Style Header */
h1 {font-size: 4.0em;}
h2 {font-size: 2.0em;}
h3 {font-size: 1.5em;}

h1 {margin-top: 0px;
	margin-bottom: 0px; }

h1, h2, h3 { font-family: 'palatino linotype', serif; 
			text-align: center; }
			
body > header > img {
					display: block; 
					width: 100%; }


/* Style Navigation */	
nav.navigationBar ul{
	list-style-type: none;
	background-color: rgb(179,25,40); 
	padding: 0px;
	margin: 0px;
	overflow: hidden; }

nav.navigationBar a{
	color: white;
	text-decoration: none;
	padding: 15px;
	display: block;
	text-align: center; }

nav.navigationBar a:hover, nav.navigationBar a:active { 
	background-color: rgb(240,0,60); }

nav.navigationBar li{
	float: left;
	width: 20%; }


/* Style Footer */
footer {
 background-color: rgb(179,25,40);
 font-size: 0.8em; 
 text-align: center; }
 
 a:link{color: gray; }


/* Home/Index Page Style */
.home_style header{
	grid-row: 1;
	grid-column: 1/-1; }
	
.home_style div .colorText{
	color: gray;
	font-weight: bold; }

.home_style div.gallery {
	display: inline-block; 
	border: 2px solid; border-color: gray; 
	margin-bottom: 3px; }
	
.home_style div.gallery:hover {
	border: 2px solid; border-color: white; }

.home_style div.gallery img {
	width: 200px; height: 150px; }
	
.home_style div.gallery .description{
	padding: 5px; text-align: center; }

.home_style footer{
	grid-row: 5;
	grid-column: 1/-1; }


/* Mexican Page Style */
.mexican_style{all:unset;}

.mexican_style {
    width: 95%;
    margin: 0 auto;
    box-sizing: border-box;}

.mexican_style header img {margin-top: 8px; }

.mexican_style .accordion-button {
    background-color: rgb(179,25,40);
    color: white;
    border: none; }

.mexican_style .accordion-body {
	background-color: rgb(10, 49, 97); 
	color: white; }

.mexican_style .accordion-button:focus,
.mexican_style .accordion-button:not(.collapsed) {
    border: none;
    box-shadow: none; }

.mexican_style .accordion-button:not(.collapsed) {
    background-color: gray; 
    color: white; }

#mex14 img {display: block; margin-left: auto; margin-right: auto; }

.mexican_style {
   display: grid; 
   grid-template-columns: 1fr 1fr;
   grid-template-areas: "header header" 
						"right1 left1" 
						"right2 left2"
						"right3 left3" 						
						"footer footer";}

.mexican_style header{
	grid-row: 1;
	grid-column: 1/-1; }

#mex1 {padding-left: 10%;}
#mex2 {padding-left: 10%;}
#mex3 {padding-left: 10%;}
	
#mex11 img {width: 120px; height: 120px; padding-top: 3px; }
#mex12 img {width: 120px; height: 120px; }
#mex13 img {width: 120px; height: 120px; }

.mexican_style footer{
	grid-row: 10;
	grid-column: 1/-1; }


/* Fine Dining Page Style */
.fine_style {
   display: grid; 
   grid-template-columns: 1fr 1fr;
   grid-template-areas: "header header" 
						"right1 left1" 
						"right2 left2"
						"right3 left3" 						
						"footer footer";}

.fine_style header{
	grid-row: 1;
	grid-column: 1/-1; }

#fine1 {padding-left: 10%;}
#fine2 {padding-left: 10%;}
#fine3 {padding-left: 10%;}
	
#fine11 img {width: 120px; height: 120px; padding-top: 3px; }
#fine12 img {width: 120px; height: 120px; }
#fine13 img {width: 120px; height: 120px; }

.fine_style footer{
	grid-row: 10;
	grid-column: 1/-1; }


/* Burger and Pizza Page Style */
.burger_style{
	background-color: rgb(10, 49, 97);
	background-position: 5% 0; }

.burger_style header img {margin-top: 8px; }

.burger_style .bkgcolor{
	color: white; 
	background-color: rgb(10, 49, 97); }

#burger1 {padding-left: 10%;}
#burger2 {padding-left: 10%;}
#burger3 {padding-left: 10%;}
	
#burger11 img {width: 120px; height: 120px; padding-top: 3px; }
#burger12 img {width: 120px; height: 120px; }
#burger13 img {width: 120px; height: 120px; }

.burger_style footer{
	grid-row: 10;
	grid-column: 1/-1; }


/* Contact Page Style */
.contact_style {
  display: grid;
  grid-template-columns: 1fr;}
  
.contact_style legend {
	background-color: rgb(179,25,40);
	border-radius: 20px;
	padding: 10px 40px 10px 40px;}

.contact_style fieldset {
	background-color: gray;
	border-radius: 20px;
	font-weight: bold; }
	
.contact_style textarea {
	border-radius: 10px;
	height: 10em;
	width: 95%}

